<a href="https://colab.research.google.com/github/profteachkids/CHE2064/blob/master/Generate_CSV_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
pip install faker

Collecting faker
  Downloading https://files.pythonhosted.org/packages/f1/61/0d6ff41ca781a778f843bd0ae690bf44cd3911d542e4fa77c0acc624cdac/Faker-4.1.2-py3-none-any.whl (1.0MB)
     |████████████████████████████████| 1.0MB 3.4MB/s
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.6/dist-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-4.1.2

In [11]:
import numpy as np
from faker import Faker
import pandas as pd
fake=Faker()

In [24]:
name_list = [fake.last_name_nonbinary() for i in range(10)]

N=1000
equipment_list = ['TankA', 'TankB', 'TankC', 'ColumnA', 'ColumnB', 'Reactor']
task_list = ['Overhaul', 'Inspect', 'Maintain']
date = [fake.date_between(start_date='-3M', end_date='today') for i in range(N)]
task = np.random.choice(task_list, size=N)
equipment = np.random.choice(equipment_list, size=N)
cost = np.random.randint(10000,1000000, size=N)
name = np.random.choice(name_list, size=N)

In [25]:
df= pd.DataFrame(data={'equipment':equipment, 'task': task, 'cost': cost, 'name':name, 'date': date})

In [27]:
df.to_csv('maintenance_log.txt',index=False)

In [26]:
df.head()

  equipment      task    cost    name        date
0     TankB   Inspect  777585  Stuart  2020-07-20
1     TankA  Maintain  874058    Pena  2020-06-10
2     TankB  Maintain  304179   Davis  2020-08-08
3   ColumnB  Overhaul  534194   Davis  2020-07-27
4     TankC  Overhaul   19028    Cole  2020-08-12