<a href="https://colab.research.google.com/github/profteachkids/CHE2064/blob/master/Generate_CSV_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [214]:
!wget https://raw.githubusercontent.com/profteachkids/CHE2064/master/data/maintenance_log.txt

--2020-12-22 00:16:58--  https://raw.githubusercontent.com/profteachkids/CHE2064/master/data/maintenance_log.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40187 (39K) [text/plain]
Saving to: ‘maintenance_log.txt’

maintenance_log.txt 100%[===================>]  39.25K  --.-KB/s    in 0.005s

2020-12-22 00:16:58 (7.63 MB/s) - ‘maintenance_log.txt’ saved [40187/40187]

In [215]:
import pandas as pd

In [216]:
df=pd.read_csv('/content/maintenance_log.txt')
df.head

<bound method NDFrame.head of     equipment      task    cost    name        date
0       TankB   Inspect  777585  Stuart  2020-07-20
1       TankA  Maintain  874058    Pena  2020-06-10
2       TankB  Maintain  304179   Davis  2020-08-08
3     ColumnB  Overhaul  534194   Davis  2020-07-27
4       TankC  Overhaul   19028    Cole  2020-08-12
..        ...       ...     ...     ...         ...
995   Reactor  Maintain  514073   Davis  2020-07-30
996   Reactor  Maintain  881985  Ramsey  2020-08-06
997     TankB  Maintain  741689  Ramsey  2020-08-10
998     TankA   Inspect  579868  Stuart  2020-08-06
999     TankA  Maintain  551868  Stuart  2020-06-05

[1000 rows x 5 columns]>

In [217]:
df=df.astype({'equipment':'category','task':'category','name':'category','cost':'float64','date':'datetime64[ns]'})
df.dtypes

equipment          category
task               category
cost                float64
name               category
date         datetime64[ns]
dtype: object

In [218]:
df2=df.set_index(['date','equipment','task','name'])
df2.sort_index(inplace=True)
idx = pd.IndexSlice

In [219]:
df2.loc[idx['2020-05-30':'2020-06-5',['ColumnA','TankA'],'Inspect',:]]

                                           cost
date       equipment task    name
2020-05-30 ColumnA   Inspect Sandoval  502535.0
           TankA     Inspect Holt      606534.0
                             Pena      693885.0
                             Stuart    822256.0
2020-05-31 ColumnA   Inspect Pena      497402.0
           TankA     Inspect Pena       62118.0
2020-06-01 ColumnA   Inspect Pena      890050.0
           TankA     Inspect Sandoval  868966.0
2020-06-03 ColumnA   Inspect Ramsey    457614.0
2020-06-04 TankA     Inspect Sandoval  112571.0
2020-06-05 ColumnA   Inspect Delgado   485924.0
                             Stuart    187723.0
           TankA     Inspect Cole       27868.0
                             Holt      604017.0

In [194]:
df3=df.set_index('date')
df3.sort_index(inplace=True)

In [224]:
df4=pd.pivot_table(data=df,values=['cost'],columns=['name','task'],aggfunc=['mean','min','max'])

In [225]:
df4

               mean                                ...       max
name           Cole                                ...     Young
task        Inspect       Maintain       Overhaul  ...   Inspect  Maintain  Overhaul
cost  461922.153846  595759.583333  458339.171429  ...  980811.0  956914.0  972259.0

[1 rows x 90 columns]

In [234]:
df5=df4.unstack()

In [236]:
df6=df5.unstack(0)

In [237]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
  print(df6)

                                 mean      min       max
name     task
Cole     Inspect  cost  461922.153846  27868.0  966616.0
         Maintain cost  595759.583333  33997.0  969472.0
         Overhaul cost  458339.171429  19028.0  952616.0
Davis    Inspect  cost  426771.161290  17645.0  972715.0
         Maintain cost  447582.441176  24711.0  979856.0
         Overhaul cost  574343.958333  44487.0  998821.0
Delgado  Inspect  cost  496493.424242  43297.0  996792.0
         Maintain cost  504924.472222  24861.0  992471.0
         Overhaul cost  571080.875000  62705.0  991943.0
Holt     Inspect  cost  543383.828571  40997.0  985170.0
         Maintain cost  477176.785714  25759.0  985868.0
         Overhaul cost  521462.259259  34681.0  920464.0
Johnson  Inspect  cost  395370.480000  36200.0  996912.0
         Maintain cost  638359.130435  42770.0  986280.0
         Overhaul cost  470595.057143  26004.0  936579.0
Pena     Inspect  cost  425252.945946  34280.0  931636.0
         Maintain cost  505664.810811  89321.0  927923.0
         Overhaul cost  580787.261905  71097.0  986011.0
Ramsey   Inspect  cost  452099.931034  34824.0  993520.0
         Maintain cost  561591.028571  37305.0  984536.0
         Overhaul cost  480977.358974  16031.0  984029.0
Sandoval Inspect  cost  463334.483871  11475.0  868966.0
         Maintain cost  490262.064516  24062.0  984010.0
         Overhaul cost  482521.902439  36762.0  994364.0
Stuart   Inspect  cost  479004.690476  22988.0  990281.0
         Maintain cost  556341.961538  63341.0  923841.0
         Overhaul cost  447682.103448  19100.0  999182.0
Young    Inspect  cost  485589.285714  20561.0  980811.0
         Maintain cost  468007.476190  23338.0  956914.0
         Overhaul cost  645421.342857  99996.0  972259.0

In [242]:
df7=df6.reset_index()

In [243]:
df7.melt(id_vars=[ 'name','task'], value_vars=['max','min','mean'])

      name      task variable          value
0     Cole   Inspect      max  966616.000000
1     Cole  Maintain      max  969472.000000
2     Cole  Overhaul      max  952616.000000
3    Davis   Inspect      max  972715.000000
4    Davis  Maintain      max  979856.000000
..     ...       ...      ...            ...
85  Stuart  Maintain     mean  556341.961538
86  Stuart  Overhaul     mean  447682.103448
87   Young   Inspect     mean  485589.285714
88   Young  Maintain     mean  468007.476190
89   Young  Overhaul     mean  645421.342857

[90 rows x 4 columns]