<a href="https://colab.research.google.com/github/profteachkids/CHE2064/blob/master/Import_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import requests
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/profteachkids/CHE2064/master/maintenance_log.txt'

In [3]:
df = pd.read_csv(url)

In [4]:
df['date']=pd.to_datetime(df['date'])

In [5]:
pd.Grouper()

Grouper(axis=0, sort=False)

In [6]:
groups=df.groupby(['name',pd.Grouper(key='date',freq='W')])

In [7]:
groups.sum()

                     cost
name  date
Cole  2020-05-24  1297598
      2020-05-31  5358635
      2020-06-07  7398615
      2020-06-14  2231269
      2020-06-21  1525686
...                   ...
Young 2020-07-26  5186987
      2020-08-02  3737165
      2020-08-09  3233066
      2020-08-16  1028287
      2020-08-23  3630771

[140 rows x 1 columns]